
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    margin-right: 15px;

    #image{
        display: contents;
        background: none;
        width: clamp(270px, 30vmax, 550px);
        height: clamp(200px, 20vmax, 450px);

        img{
            object-fit: contain;
            max-width: 100%;
            max-height: 30%;
            border-radius: 7px;
            margin-bottom: 1.5rem;
        }
        img:not([src]){
            visibility: hidden;
        }   
    }

    #details{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 7px;
        background-color: rgb(45,45,45);
    }

    #name{
        font-size: clamp(14px, 1.5vmax, 20px);
        color: white;
        margin-top: 1rem;
        margin-bottom:1px;
    }

    #price{
        font-size: clamp(13px, 1.4vmax, 20px);
        color: rgb(200,200,200);
        margin-top: 0;
        margin-bottom: 1rem;
    }

    #description{
        font-size: clamp(12px, 1.3vmax, 20px);
        box-sizing: border-box;
        padding: 1rem;
        color: white;
        word-break: break-word;
        white-space: break-spaces;
    }

    #seller{
        font-size: clamp(13px, 1.4vmax, 20px);
        color: white;
    }

    #contact-seller{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding: 0.5rem;
        font-size: clamp(14px, 1.5vmax, 30px);
        border: 3px solid transparent;
        border-radius: 7px;
        color: rgb(140,140,170);
        transition: border-color 0.3s;
    }
    
    #contact-seller:hover{
        border-bottom-color: rgb(70,70,100);
        transition: border-color 1s, color 0.2s;
    }

    #related-items-title{
        color: white;
        margin-top: 1.5rem;
        font-size: clamp(14px, 1.5vmax, 20px);
    }

    #item-management{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;

        #remove-item{
            font-size: clamp(14px, 1.5vmax, 30px);
            padding: 0.5rem;
            border-radius: 10px;    
            color: white;
            border: 2px solid transparent;
            transition: border 0.5s;
        }
        #remove-item:hover{
            border-bottom-color: rgb(150, 50, 50);
            transition: border 1s;
        }
        
        #edit-item{
            font-size: clamp(14px, 1.5vmax, 30px);
            padding: 0.5rem;
            border-radius: 10px;
            color: white;
            border: 2px solid transparent;
            transition: border 0.5s;
        }
        #edit-item:hover{
            border-bottom-color: rgb(73, 161, 0);
            transition: border 1s;
        }
    }

    .rating-list {
        display: inline-block;
        list-style: none;
        padding: 0;
        margin:0;

        li {
            float: left;
            color: #ddd;
        }
        .checked {
            color: orange;
        }
    }
    
    #leave-feedback{
        width: 100%;
        
        button{
            width: 50%;
            align-self: center;
        }
        
        .hover-star{
            color: rgb(211, 116, 1);
        }
        
    }

    #feedbacks{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
        gap: 1rem;

        .feedback{
            padding: 0.5rem;
            border-radius: 10px;
            background-color: rgb(55,55,55);
            color: white;
            font-size: clamp(13px, 1.4vmax, 30px);
            
      
            
            .comment{
                white-space: break-spaces;
            }
        }
    }
}